# Logs
page/logs
*.log
page/npm-debug.log*
page/yarn-debug.log*
page/yarn-error.log*
page/pnpm-debug.log*
page/lerna-debug.log*
page/eslint.config.js

page/node_modules
page/dist
page/dist-ssr
page/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local


page/src/assets/
page/public/